{% load static %}

<!-- base -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}HeavyConnect Challenge{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'vendor/css/bulma.min.css' %}" />
  </head>

  <body>
    <div class="container">{% block content %}{% endblock %}</div>

    <script src="{% static 'vendor/js/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/js/angular.min.js' %}"></script>
    <script src="{% static 'vendor/js/angular-cookies.min.js' %}"></script>
  </body>
</html>
